---
import Typography from '../ui/Typography.astro';
import MouseScroll from '../icons/MouseScrollIcon.astro';
import MailIcon from '../icons/MailIcon.astro';
import LinkedInIcon from '../icons/LinkedInIcon.astro';
import GithubIcon from '../icons/GitHubIcon.astro';
import { me } from '@/data/me';
import { EnvService } from '@/services/env.service';
import ActionLinkButton from '../ActionLinkButton.astro';

const GITHUB_URL = EnvService.getContact().github || '/';
const LINKEDIN_URL = EnvService.getContact().linkedin || '/';
const CONTACT_EMAIL = EnvService.getContact().email || 'example@gmail.com';
---

<div class='space-y-8 pt-8 md:pt-12'>
  <div class='flex flex-col items-center justify-between gap-10 lg:flex-row lg:gap-12 xl:gap-16'>
    <div class='flex-1 space-y-2'>
      <div>
        <Typography as='span' size='big-4' class='font-bold text-yellow-500'> Hello 👋 </Typography>
        <Typography as='p' size='big-4' class='font-bold'>I'm {me.name}.</Typography>
      </div>
      <div>
        <Typography as='p' size='lg' class='text-md md:text-[18px] lg:text-[20px] text-slate-300'>
          <b class='text-primary'>+3 </b> years of experience as a <b class='text-primary'
            >Full Stack Developer.
          </b> I focus on using best practices to create <b class='text-primary'>scalable</b> and <b
            class='text-primary'>maintainable</b
          > applications.
        </Typography>
      </div>
      <div class='pt-6 flex items-center justify-start gap-3 flex-wrap'>
        <ActionLinkButton href={GITHUB_URL} radius='full'>
          <GithubIcon />
          Github
        </ActionLinkButton>
        <ActionLinkButton href={LINKEDIN_URL} radius='full'>
          <LinkedInIcon size='size-6' />
          Linkedin
        </ActionLinkButton>
        <ActionLinkButton href={`mailto:${CONTACT_EMAIL}`} radius='full'>
          <MailIcon size='size-6' />
          Email
        </ActionLinkButton>
      </div>
    </div>
    <div class='overflow-hidden rounded-full'>
      <img src='/images/hero-avatar.webp' alt='My Avatar' width={325} height={325} />
    </div>
  </div>
  <div class='flex items-center justify-center'>
    <MouseScroll class:list='h-16 w-auto' />
  </div>
</div>
