---
import type { Technology } from '@/utilities/types';
import SkillsIcon from '../icons/SkillsIcon.astro';
import TechnologyCard from '../TechnologyCard.astro';
import ReactIcon from '../icons/technologies/ReactIcon.astro';
import NextjsIcon from '../icons/technologies/NextjsIcon.astro';
import TypescriptIcon from '../icons/technologies/TypescriptIcon.astro';
import NestJSIcon from '../icons/technologies/NestJSIcon.astro';
import ExpressIcon from '../icons/technologies/ExpressIcon.astro';
import JavascriptIcon from '../icons/technologies/JavascriptIcon.astro';
import HtmlIcon from '../icons/technologies/HtmlIcon.astro';
import CssIcon from '../icons/technologies/CssIcon.astro';
import NodeIcon from '../icons/technologies/NodeIcon.astro';
import PhpIcon from '../icons/technologies/PhpIcon.astro';
import LaravelIcon from '../icons/technologies/LaravelIcon.astro';

const technologies: Technology[] = [
  {
    name: 'React JS',
    icon: ReactIcon,
    animation: 'spin',
  },
  {
    name: 'Next JS',
    icon: NextjsIcon,
    animation: 'wiggle',
  },
  {
    name: 'Typescript',
    icon: TypescriptIcon,
    animation: 'wiggle',
  },
  {
    name: 'Node JS',
    icon: NodeIcon,
    animation: 'wiggle',
  },
  {
    name: 'Express',
    icon: ExpressIcon,
    animation: 'wiggle',
  },
  {
    name: 'Nest JS',
    icon: NestJSIcon,
    animation: 'wiggle',
  },
  /*   {
    name: 'Git',
    icon: GitIcon,
    animation: 'wiggle',
  }, */
  {
    name: 'Php',
    icon: PhpIcon,
    animation: 'wiggle',
  },
  {
    name: 'Laravel',
    icon: LaravelIcon,
    animation: 'wiggle',
  },
  {
    name: 'Javascript',
    icon: JavascriptIcon,
    animation: 'wiggle',
  },
  {
    name: 'Html',
    icon: HtmlIcon,
    animation: 'wiggle',
  },
  {
    name: 'Css',
    icon: CssIcon,
    animation: 'wiggle',
  },
];
---

<div class='flex items-center justify-center flex-col lg:flex-row md:gap-4 lg:gap-6'>
  <div class='flex items-center justify-center'>
    <SkillsIcon class:list='lg:w-[460px] h-auto md:w-[450px] hidden md:block md:p-3 p-0' />
  </div>
  <div
    class='grid lg:grid-cols-5 md:grid-cols-4 xs:grid-cols-3 grid-cols-2 w-full gap-3 lg:gap-0.5 max-w-[200px] xs:max-w-[310px] md:max-w-[420px] lg:max-w-full'
  >
    {
      technologies.map((t) => (
        <div class='col-span-1 mx-auto'>
          <TechnologyCard title={t.name} icon={t.icon} animation={t.animation} />
        </div>
      ))
    }
  </div>
</div>
