---
import SkillsIcon from '../icons/SkillsIcon.astro';
import SkillItem from '../SkillItem.astro';

type Technologies = {
  name: string;
  color: string;
};

const programmingLanguages: Technologies[] = [
  {
    name: 'Javascript',
    color: 'bg-yellow-500',
  },
  {
    name: 'Typescript',
    color: 'bg-blue-500',
  },
  {
    name: 'Html',
    color: 'bg-orange-500',
  },
  {
    name: 'Css',
    color: 'bg-blue-500',
  },
];

const technologies: Technologies[] = [
  {
    name: 'React',
    color: 'bg-sky-500',
  },
  {
    name: 'Next',
    color: 'bg-gray-600',
  },
  {
    name: 'Node',
    color: 'bg-green-500',
  },
  {
    name: 'Express',
    color: 'bg-gray-500',
  },
  {
    name: 'Nest',
    color: 'bg-red-500',
  },
  {
    name: 'Linux',
    color: 'bg-gray-500',
  },
];

const tools: Technologies[] = [
  {
    name: 'Git',
    color: 'bg-orange-500',
  },
  {
    name: 'Github',
    color: 'bg-gray-600',
  },
  {
    name: 'CI/CD',
    color: 'bg-red-500',
  },
];
---

<div class='flex items-center justify-center flex-col lg:flex-row md:gap-4 lg:gap-6'>
  <div class='flex items-center justify-center'>
    <SkillsIcon class:list='lg:w-[500px] h-auto md:w-[450px] hidden md:block md:p-3 p-0' />
  </div>
  <div class='space-y-5 w-full'>
    <SkillItem title='Programming Languages' technologies={programmingLanguages} />
    <SkillItem title='Technologies' technologies={technologies} />
    <SkillItem title='Tools' technologies={tools} />
  </div>
</div>
