---
import type { Technology } from '@/utilities/types';
import SkillsIcon from '../icons/SkillsIcon.astro';
import TechnologyCard from '../TechnologyCard.astro';
import { EnvService } from '@/services/env.service';

const technologies: Technology[] = [
  {
    name: 'Javascript',
    image: '/images/technologies/javascript.svg',
    animation: 'wiggle',
  },
  {
    name: 'Typescript',
    image: '/images/technologies/typescript.svg',
    animation: 'wiggle',
  },
  {
    name: 'Html',
    image: '/images/technologies/html-5.svg',
    animation: 'wiggle',
  },
  {
    name: 'Css',
    image: '/images/technologies/css-3.svg',
    animation: 'wiggle',
  },
  {
    name: 'Tailwind Css',
    image: '/images/technologies/tailwindcss.svg',
    animation: 'wiggle',
  },
  {
    name: 'React JS',
    image: '/images/technologies/react.svg',
    animation: 'spin',
  },
  {
    name: 'Next JS',
    image: '/images/technologies/nextjs.svg',
    animation: 'wiggle',
  },
  {
    name: 'Node',
    image: '/images/technologies/nodejs.svg',
    animation: 'wiggle',
  },
  {
    name: 'Express',
    image: '/images/technologies/express.svg',
    animation: 'wiggle',
  },
  {
    name: 'Nest JS',
    image: '/images/technologies/nestjs.svg',
    animation: 'wiggle',
  },
  /*   {
    name: 'Java',
    image: '/images/technologies/java.svg',
    animation: 'wiggle',
  }, */
  /*   {
    name: 'Spring Boot',
    image: '/images/technologies/spring.svg',
    animation: 'wiggle',
  }, */
  {
    name: 'Linux',
    image: '/images/technologies/linux.svg',
    animation: 'wiggle',
  },
  {
    name: 'Git',
    image: '/images/technologies/git.svg',
    animation: 'wiggle',
  },
  {
    name: 'Github',
    image: '/images/technologies/github.svg',
    animation: 'wiggle',
  },
];
---

<div class='flex items-center justify-center flex-col lg:flex-row md:gap-4 lg:gap-6'>
  <div class='flex items-center justify-center'>
    <SkillsIcon class:list='lg:w-[460px] h-auto md:w-[450px] hidden md:block md:p-3 p-0' />
  </div>
  <div
    class='grid lg:grid-cols-5 md:grid-cols-4 xs:grid-cols-3 grid-cols-2 w-full gap-3 lg:gap-0.5 max-w-[200px] xs:max-w-[310px] md:max-w-[420px] lg:max-w-full'
  >
    {
      technologies.map((t) => (
        <div class='col-span-1 mx-auto'>
          <TechnologyCard
            title={t.name}
            image={EnvService.getClient() + t.image}
            animation={t.animation}
          />
        </div>
      ))
    }
  </div>
</div>
