---
import CodeIcon from '@/components/icons/CodeIcon.astro';
import BriefcaseIcon from '@/components/icons/BriefcaseIcon.astro';
import Layout from '../layouts/Layout.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import HeroSection from '@/components/sections/HeroSection.astro';
import WorkExperienceSection from '@/components/sections/WorkExperienceSection.astro';
import ProjectsSection from '@/components/sections/ProjectsSection.astro';
import SkillsSection from '@/components/sections/SkillsSection.astro';
---

<Layout
  title='Richard Huaman - Portfolio'
  description='A software engineer specialized in software development.'
  canonical='http://localhost:4321'
>
  <main>
    <div class='space-y-10'>
      <SectionContainer>
        <HeroSection />
      </SectionContainer>
      <SectionContainer title='Technical Skills' Icon={CodeIcon}>
        <SkillsSection />
      </SectionContainer>
      <SectionContainer title='Work Experience' Icon={BriefcaseIcon}>
        <WorkExperienceSection />
      </SectionContainer>
      <SectionContainer title='Projects' Icon={CodeIcon}>
        <ProjectsSection />
      </SectionContainer>
    </div>
  </main>
</Layout>
