---
import Layout from '../layouts/Layout.astro';
import Container from '@/components/Container.astro';
import Hero from '@/components/Hero.astro';
---

<Layout
  title='Richard Huaman - Portfolio'
  description='A software engineer specialized in software development.'
  canonical='http://localhost:4321'
>
  <main>
    <Container>
      <Hero />
    </Container>
  </main>
</Layout>
