---
interface Props {
  href: string;
  radius?: 'md' | 'lg' | 'xl' | 'full';
}

const { radius = 'md', ...restProps } = Astro.props;

const radiusMap = {
  md: 'rounded-md',
  lg: 'rounded-lg',
  xl: 'rounded-xl',
  full: 'rounded-full',
};

const radiusClass = radiusMap[radius];
---

<a
  {...restProps}
  target='_blank'
  rel='noopener noreferrer'
  role='link'
  class={`inline-flex items-center justify-center gap-2 px-4 py-2 transition border-2 ${radiusClass} bg-gray-700/50 border-gray-700/90 text-white focus-visible:ring-primary text-md hover:border-gray-300 group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2 active:bg-gray-500 md:hover:scale-105 ease-in-out delay-100 duration-300`}
>
  <slot />
</a>
