---
interface Props {
  href?: string;
  radius?: 'md' | 'lg' | 'xl' | 'full';
  color?: 'primary' | 'default';
  target?: '_blank' | '_self';
  id?: string;
}

const { radius = 'md', color = 'default', target = '_blank', id, ...restProps } = Astro.props;

const radiusMap = {
  md: 'rounded-md',
  lg: 'rounded-lg',
  xl: 'rounded-xl',
  full: 'rounded-full',
};

const colorMap = {
  default: 'border-gray-700/90 bg-gray-700/50 hover:border-gray-300 active:bg-gray-500',
  primary: 'border-primary-700/90 bg-primary-600/70 hover:border-white active:bg-primary-800',
};

const radiusClass = radiusMap[radius];
const colorClass = colorMap[color];
---

<a
  id={id}
  {...restProps}
  target={target}
  rel='noopener noreferrer'
  role='link'
  class={`inline-flex items-center cursor-pointer justify-center gap-2 px-4 py-2 transition border-2 ${radiusClass} ${colorClass} text-white text-md group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2  md:hover:scale-105 ease-in-out delay-100 duration-300`}
>
  <slot />
</a>
