---
interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<div {...rest} class:list={`mx-auto max-w-screen-lg px-4 md:px-8 lg:px-12 ${className}`}>
  <slot />
</div>
