---
import GoUpIcon from './icons/GoUpIcon.astro';
---

<button
  id='go-top'
  class='fixed bottom-4 right-4 bg-primary-600 ring-2 ring-transparent focus:ring-gray-200 lg:hover:ring-gray-200 text-white rounded-full shadow-lg lg:hover:bg-primary-600/90 transition duration-300 ease-in-out hidden p-2'
  aria-label='Go to top'
>
  <GoUpIcon class:list='size-8' />
</button>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const goTopButton = document.getElementById('go-top');

    // Function to scroll to top
    function scrollToTop() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    // Show/Hide button based on scroll position
    window.addEventListener('scroll', () => {
      if (window.scrollY > 200) {
        // Adjust as needed
        goTopButton?.classList.remove('hidden');
      } else {
        goTopButton?.classList.add('hidden');
      }
    });

    // Add click event to the button
    goTopButton?.addEventListener('click', scrollToTop);
  });
</script>

<style>
  #go-top {
    /* Basic styling for the button */
    display: none;
  }
  #go-top.hidden {
    display: none;
  }
  #go-top:not(.hidden) {
    display: block;
  }
</style>
