---
import MobileMenuIcon from './icons/MobileMenuIcon.astro';
const options = ['Home', 'Skills', 'Experience', 'Projects'];
---

<style>
  .dropdown-menu {
    display: none;
  }
  .dropdown-menu.show {
    display: block;
  }
</style>

<div class='relative md:hidden'>
  <div class='flex items-center justify-center h-full'>
    <button id='dropdown-button' class='h-10 w-auto p-1.5'>
      <MobileMenuIcon class:list='size-9 dark:text-white text-gray-700' />
    </button>
  </div>
  <div
    class='dropdown-menu origin-top-right absolute right-0 mt-2 w-44 shadow-lg bg-white dark:bg-gray-900 rounded-lg ring-1 dark:ring-gray-800 ring-gray-200 ring-opacity-5 focus:outline-none'
    id='dropdown-menu'
  >
    <div class='py-1' role='menu' aria-orientation='vertical' aria-labelledby='dropdown-button'>
      {
        options.map((option) => (
          <a
            class='block px-4 py-2 text-gray-700 dark:text-white active:dark:bg-gray-700 active:bg-gray-200'
            role='menuitem'
          >
            {option}
          </a>
        ))
      }
    </div>
  </div>

  <script>
    const dropdownButton = document.getElementById('dropdown-button');
    const dropdownMenu = document.getElementById('dropdown-menu');
    const dropdownContainer = document.getElementById('dropdown-container');

    dropdownButton?.addEventListener('click', (event) => {
      event.stopPropagation();
      dropdownMenu?.classList.toggle('show');
    });

    function handleOptionClick() {
      dropdownMenu?.classList.remove('show');
    }

    document.addEventListener('click', (event) => {
      if (!dropdownContainer?.contains(event.target as any)) {
        dropdownMenu?.classList.remove('show');
      }
    });

    document.querySelectorAll('.dropdown-menu a').forEach((option) => {
      option.addEventListener('click', handleOptionClick);
    });
  </script>
</div>
