---
import Container from './Container.astro';
import Typography from './ui/Typography.astro';

type Props =
  | {
      title: string;
      Icon: any;
    }
  | {
      title?: string;
    };

const props = Astro.props;
---

<div {...Astro.props}>
  <Container>
    {
      props.title && 'Icon' in props && (
        <div class='flex items-center justify-start gap-3 mb-5'>
          <props.Icon class:list='size-8' />
          <Typography as='h2' class='font-medium text-2xl lg:text-[30px]'>
            {props.title}
          </Typography>
        </div>
      )
    }
    <slot />
  </Container>
</div>
