---
import Container from './Container.astro';
import Typography from './ui/Typography.astro';

type BaseProps =
  | {
      title: string;
      Icon: any;
    }
  | {
      title?: string;
    };

type Props = BaseProps & {
  id: string;
};

const { id, ...restProps } = Astro.props;
---

<section id={id}>
  <Container>
    {
      restProps.title && 'Icon' in restProps && (
        <div class='flex items-center justify-start gap-3 mb-5'>
          <restProps.Icon class:list='size-9 text-black dark:text-white' />
          <Typography as='h2' size='3xl' class='font-medium'>
            {restProps.title}
          </Typography>
        </div>
      )
    }
    <slot />
  </Container>
</section>
