---
import DotIcon from './icons/DotIcon.astro';
import Chip from './ui/Chip.astro';
import Typography from './ui/Typography.astro';
import type { Technologies } from '@/types/skills.types';

interface Props {
  title: string;
  technologies: Technologies[];
}

const { technologies, title } = Astro.props;
---

<div>
  <Typography as='p' size='xl' class='dark:text-gray-200 text-gray-800 font-medium'
    >{title}&nbsp;:</Typography
  >
  <div class='mt-2 flex items-center justify-start gap-2 h-full flex-wrap'>
    {technologies.map((t) => <Chip color={t.color}>{t.name}</Chip>)}
  </div>
</div>
