<a
  {...Astro.props}
  target='_blank'
  rel='noopener noreferrer'
  role='link'
  class='inline-flex items-center justify-center gap-1 lg:gap-2 px-4 py-2 text-gray-800 transition bg-white border border-gray-300 rounded-full dark:bg-gray-900 dark:border-gray-700 dark:text-white focus-visible:ring-primary text-md hover:bg-gray-50 hover:border-gray-600 group max-w-fit hover:text-gray-600 focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2 active:bg-gray-300 md:hover:scale-110 ease-in-out delay-100 duration-300'
>
  <slot />
</a>
