<a
  {...Astro.props}
  target='_blank'
  rel='noopener noreferrer'
  role='link'
  class='inline-flex items-center justify-center gap-1 lg:gap-2 px-4 py-2 transition border rounded-full bg-gray-900 border-gray-700 text-white focus-visible:ring-primary text-md hover:border-gray-300 group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2 active:bg-gray-300 md:hover:scale-110 ease-in-out delay-100 duration-300'
>
  <slot />
</a>
