---
import Container from '@/components/Container.astro';
---

<footer class='mt-6'>
  <Container>
    <h2 class='text-center text-sm text-light dark:text-gray-300 md:text-md'>
      © 2024 Richard Huaman
    </h2>
  </Container>
</footer>
