---
import Seo from '@/components/Seo.astro';
import { ViewTransitions } from 'astro:transitions';
import Footer from './Footer.astro';
import Navbar from './Navbar.astro';

interface Props {
  title: string;
  description: string;
  canonical?: string;
  image?: string;
}

const { title, description, canonical, image } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <Seo canonical={canonical} description={description} image={image} title={title} />
    <ViewTransitions />
  </head>
  <body>
    <div id='main-content' class='min-h-screen dark:bg-deep-dark bg-white relative'>
      <Navbar />
      <slot />
      <Footer />
      <img
        src='/images/rays.png'
        class='absolute -top-36 right-0 md:left-1/2 md:-translate-x-1/2'
        width={400}
        height={400}
        alt='Rays background'
      />
    </div>
  </body>
</html>
