---
import '@fontsource-variable/dm-sans';

import Seo from '@/components/Seo.astro';
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import GoTop from '@/components/GoTop.astro';

interface Props {
  title: string;
  description: string;
  canonical?: string;
  image?: string;
}

const { title, description, canonical, image } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <Seo canonical={canonical} description={description} image={image} title={title} />
    <ViewTransitions />
  </head>
  <body id='main-content' class='min-h-screen bg-dark w-full relative'>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
    <img
      src='/images/rays.png'
      class='absolute -top-36 right-0 md:left-1/2 md:-translate-x-1/2'
      width={400}
      height={400}
      alt='Rays background'
    />
    <GoTop />
  </body>
</html>
