---
import Container from '@/components/Container.astro';
import MenuDropdown from '@/components/MenuDropdown.astro';
import ThemeToggle from '@/components/ThemeToggle.astro';
---

<header class='sticky top-0 z-50 bg-white/50 backdrop-blur-lg dark:bg-deep-dark/50'>
  <Container class='flex items-center justify-end md:justify-center py-4'>
    <ul class='flex md:gap-4 gap-2 lg:gap-6'>
      <li class='hidden md:flex'>
        <div
          class={`flex items-center justify-center cursor-pointer ${
            true
              ? 'font-semibold text-primary dark:text-primary-500'
              : 'font-medium text-foreground transition duration-300 ease-in-out text-black dark:text-white hover:text-primary dark:hover:text-primary-500'
          }`}
        >
          Home
        </div>
      </li>
      <li class='hidden md:flex'>
        <div
          class={`flex items-center justify-center cursor-pointer ${
            false
              ? 'font-semibold text-primary dark:text-primary-500'
              : 'font-medium text-foreground transition duration-300 ease-in-out text-black dark:text-white hover:text-primary dark:hover:text-primary-500'
          }`}
        >
          Skills
        </div>
      </li>
      <li class='hidden md:flex'>
        <div
          class={`flex items-center justify-center cursor-pointer ${
            false
              ? 'font-semibold text-primary dark:text-primary-500'
              : 'font-medium text-foreground transition duration-300 ease-in-out text-black dark:text-white hover:text-primary dark:hover:text-primary-500'
          }`}
        >
          Experience
        </div>
      </li>
      <li class='hidden md:flex'>
        <div
          class={`flex items-center justify-center cursor-pointer ${
            false
              ? 'font-semibold text-primary dark:text-primary-500'
              : 'font-medium text-foreground transition duration-300 ease-in-out text-black dark:text-white hover:text-primary dark:hover:text-primary-500'
          }`}
        >
          Projects
        </div>
      </li>
      <li>
        <ThemeToggle />
      </li>
      <li>
        <MenuDropdown />
      </li>
    </ul>
  </Container>
</header>
