---
interface Props {
  color?: string;
}

const { color, ...restProps } = Astro.props;
---

<span
  tabindex='0'
  {...restProps}
  class='border-gray-500 px-3 text-md py-1 border-2 rounded-full font-medium inline-flex items-center justify-start gap-2 text-gray-300'
>
  <div class={`w-2 h-2 ${color ? color : 'bg-gray-200'} rounded-full`}></div>
  <slot />
</span>
