<span
  class='border-gray-400 px-3 py-0.5 border-[1px] rounded-2xl inline-flex items-center justify-start gap-2 text-gray-700 dark:text-gray-200'
>
  <div class='w-2 h-2 bg-primary rounded-full'></div>
  <slot />
</span>
